/**{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.categorias{
    border: solid 0.5px;
    width: 20%;
}
.subt{
    height: 3em;
    text-align: center;
    font-weight: lighter;
}
ul>li{
    padding: 0.3em;
    color: black;
    background-color: rgb(238, 231, 231);
    margin: 0.3em;
    cursor: pointer;
    border-radius: 5px;


}
ul>li>a{
    color: black;
    


}
ul>li:hover{
    background-color: rgba(163, 157, 157, 0.61);

}
#menu li>ul{
    display: none;

}

#menu>li:hover>ul{
    display: block;
}*/
*{
    margin: 0;
    padding: 0;
}
.imagen-nombre{
    margin: 0 auto;
    display: flex;
    width: 80%;
    border: solid 1px;
    
}
.nombre{
    font-size: 2em;
    padding-top:1em ;
    margin: 0 auto;

    
}
.datos{
    width: 100%;
    margin-top: 2em;
}
.lista{
    width: 50%;
    border: solid 1px;
    margin: 0 auto;
    text-align: center;
}
#btn{
    margin-top: 3em;
float: right;
background-color: rgb(9, 110, 23);
border: none;
border-radius: 3px;
height: 2em;
width: 6em;
cursor: pointer;
color: white;
}
#btn:hover{
    background-color:rgba(3, 83, 14, 0.596) ;

}
.tabla{
    margin: 1em auto;
    font-size: 1.5em;
    
}
th{
    color:#656565 ;
}